body {
    
    font-family: Arial, sans-serif;
    background-color: #dee2e2;
    margin: 0;
    padding: 0px;
}
.topo-site {
    position: relative;
    background-color: #8a9fbb;
    height: 90px;
    margin-bottom: 24px;
}

.logo-area {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.logo-midr {
    max-width: 250px;
    height: auto;
}

.titulo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo-area h1 {
    color: #000000;
    font-size: 40px;
    margin: 0;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}
@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.card {
    background: #bdbbbb;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 6px hwb(0 0% 100%);
}

.card img {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
.card {
    background: #bdbbbb;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 6px hwb(0 0% 100%);
    text-align: center;   
}
